<div class="card my-5">
  <div class="card-body">
    <li class="list-inline-item">
      <button class="btn btn-info" (click)="onSave()">Save</button>
    </li>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Card</th>
        <th scope="col">Card</th>
        <th scope="col">Chips</th>
        <th scope="col">Position</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td><img style="width:80%;" src="assets/card/{{user.firstImgSource}}.png" alt=""></td>
        <td><img style="width:80%;" src="assets/card/{{user.secondImgSource}}.png" alt=""></td>
        <td>{{ user.chipsInBigBlind }}</td>
        <td>{{ user.actualPosition }}</td>
        <td style="white-space:pre">{{ user.actions.join('\n ') }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
